.card-header {
    background-color: purple;
    height: 35px;
    color: white;
    padding: 11px;
}

.tabs {
    margin-bottom: 20px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.empty-field {
    color: white;
    background-color: black;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    border-radius: 7px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.red {
    color: red;
}

.card {
    height: 100%;
}

.loginFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.paper-container-large {
    width: 50%;
}

.appointmentCards {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.registerFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


/* Profile */

.large {
    font-size: large;
    margin-top: 5px;
    font-weight: 350;
}

.select-container {
    width: 150px;
    margin: auto;
}

.select-drop {
    width: 210px;
    margin-left: 5px;
    margin: "auto",
}

.none-option {
    opacity: 0;
}

.paper-container-appointment {
    padding-left: 50px;
}

.minHeightApp {
    min-height: 100px;
    margin-bottom: 20px;
}

.paper-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minHeight {
    min-height: fit-content;
}

.paper {
    /* cursor: pointer; */
    /* width: 96%; */
    height: 100vh;
    padding: 20px;
    /* margin: 15px; */
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
}

.paper-divs {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center;
    align-content: center; */
    /* display: flex; */
    /* justify-content: center; */
}

.left {
    flex: 0 0 50%;
    justify-content: end !important;
}

.right {
    flex: 1;
    justify-content: start !important;
}

.x-large {
    font-size: x-large;
    font-weight: 400;
}


/* Modal */