.card-header {
    background-color: purple;
    height: 70px;
    color: white;
    padding: 11px;
}

.tabs {
    margin-bottom: 20px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.empty-field {
    color: white;
    background-color: black;
    text-align: center;
    width: 180px;
    height: 30px;
    padding-top: 10px;
    border-radius: 7px;
    margin-left: -10px;
    margin-top: 5px;
}

.red {
    color: red;
}

.card {
    height: 100%;
}

.loginFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.registerFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.cardc {
    height: 100%;
}